# Dependency directories
node_modules/

# Compiled output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Editor/IDE specific files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Operating System Files
.DS_Store
Thumbs.db

# macOS
*.swp

# Testing
coverage/
